html{
    background-color: black;
}

span{
    font-size: 52px;
    font-weight: 600;
}
.scroll-vid-section{
    background-color: black;
   padding-top: 4em;
}


#explode-view {
    max-width: 100%;
    width: 100vw;
   
}


.charging-stats-section{
    text-align: center;
    padding: 6em 0;
    background-color: black;
   
    span{
        color: white;
    }

    h2{
        color: #BADD7F;
    }
   
}

.title-section{
    background-color: black;
    color: #BADD7F;

    h1{
        
        text-align: center;
        padding: 2em 0;
    }
}
.full-width-grid-con{
    background-color: black;
}

.model-section{
    background-color: black;
    color: white;
}

.sound-info{
    h2{
       padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 600;
    }

    h3{
        color: rgba(255, 255, 255, 0.534);
    }
}

.gallery-section{

    background-color: black;
    color: white;
    margin-top: 20px;

    h2{
        font-size: 18px;
        margin-bottom: 20px;
    }

}

.background{
    padding: 4em 1em;
    background-color: black;
    color: white;
    text-align: center;

    h2{
        color: #BADD7F;
    }

}

.gallery-section{
    padding: 3em 0;

 
     h2{
         font-size: 32px;
     }

 }



 .gallery-box{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .gallery-box img {
     max-width: 100%;
     max-height: 100%;
     object-fit: contain;
   }

 .image-thumbnails{
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     gap: 10px;
     
 
 }

 .thumbnail {
     width: 170px; /* Adjust size of the thumbnails */
     height: 170px;
     cursor: pointer;
     overflow: hidden;
     border-radius: 8px;
   }

   .thumbnail img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }


@media (min-width: 768px) {

    .title-section{
        padding-top: 4em;
        padding-bottom: 4em;
        text-transform: uppercase;
    }
    span{
        font-size: 68px;
    
    }

   .sound-info{
    margin-left: 4em;
        margin-bottom: 4em;

        h2{

            font-weight: 600;
        }

        h3{
            margin-bottom: 2em;
        }
    }

    .charging-stats-section{
        h2{
            font-size: 32px ;
        }
    }

    .image-thumbnails{
        flex-direction: column;
    }
}
